# Intelij
.idea

# created by virtualenv automatically
.venv/Lib
.venv

# .env files, only accept the example file
*.env
!.example.env

# cache files
__pycache__


# Package files
**.egg-info
dist

# Local STATIC content, unique to each user
src/toying_with_mcp_features/STATIC/**